body {
    background-color: rgb(255, 255, 255);
}

#titulo {
    color: rgb(0, 0, 0);
    margin-left: 130px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120px;
}

.menulista1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    float: left;
    display: block;
    padding: 8px;
    background-color: grey;
}

.parrafos {
    size: 10px;
}
