body {
  width: 1300px;
  height: 650px;
  margin: 0px;
  padding: 0px;
    
  
}
header {
  height: 33.99px;
  margin-top: 33.99px;
  margin-left: 140.92px;
  display: flex;
  justify-content:space-between;
}
nav{
  width: 800px;
  height: 23px;
  margin-right: 140px;  
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 20px
}

#seccionprincipal {
  display: flex;
  margin-top: 20.75px;
}

#imgsueltas {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: -510px;
}

.raya{
  margin-left: 270px;
  margin-top: 50px;
  
  
}
.avion1{
  position: relative;
  right: 150px;
  bottom: 79px;
  
}
.avion2{
  position: relative;
  right: 49px;
  top: -40px;
}

.ima1 {
size: 50%;
width: 500px;
height: 500px;
margin-top: 70px;
margin-left: 148px;
position: relative;
}

.ima2 {
  width: 600px;
  height: 570px;
  margin-right: 150px;
}

.titulo1 {
  font-size: small;
  margin-top: 5px;
  color:rgb(223, 105, 81)
}

.titulo2 {
  font-size: 65px;
  margin-top: 5px;
}
.parrafo {
  font-size: 17px;
}

.mancha {
  margin-left: 660px;
  margin-bottom: -700px;
  position:static;
  width: 740px;
  height: 715px;
}

.boton1 {
  border-radius: 5px;
  padding:10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(241, 165, 1, 1);
  color: white;
  border: none;

}

.boton2 {
  margin-top: -43px;
  margin-left: 150px;
  width: 70px;
}

.demo {
  margin-left: 220px;
  margin-top: -58px;
}