body {
  background-image: url("./Fondomancha.png");
  background-repeat: no-repeat;
  background-size: 59%;
  background-position: center ;
  margin-left: 100px;  
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#encabezado2 {
  margin: auto;
  width: 1000px;

}

.botonave {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -99px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;

}

.nave1 li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 60px;
    margin-left: -50px;
    display: block;
  }

.nave1 > li {
  float: left;
}

.nave1 li ul {
  display: none;
  position: absolute;
}

.nave1 li:hover > ul {
  display: block;
}
.logo {
  height: 20px;
  margin-top: 10px;
   
}

nav {
  margin-top: -30px;
  margin-left: 200px;
}

#texto1 {
  color: orangered;
  font-size: 12px;
  margin-left: 12px;
  margin-top: -110px;
}  
#texto2 {
  color: rgb(4, 4, 97);
  font-size: 55px;
  margin-right: 1070px;
  margin-top: -80px;
}
.parrafo1 {
  font-size: 26px;
  margin-right: 1150px;
  text-align: justify;  
}

#maleta1 {
  margin-left: 380px;
  margin-top: -1000px;
  
}

.aviona {
  margin-top: -710px;
  margin-left: 500px;
}

.avionb {
margin-top: -120px;
margin-left: 1015px;
}
.boton1 {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  border-style: none;
  background-color:rgb(241, 165, 1);
}
.botonplay {
  margin-top: -65px;
  margin-left: 200px;
  
}
#mancha1 {
  margin-top: 100px;
  margin-left: 230px;  
}

.parrafo2 {
  color: rgb(7, 7, 107);
  margin-top: -100px;
  margin-left: 300px;
}